<h1>Inspirational Greeting Cards</h1>

<%= form_with url: root_path, method: :get do |form| %>
  <%= form.label :collection_id, 'Pexels Collection ID:' %>
  <%= form.text_field :collection_id %>
  <%= form.submit "Show photos" %>
<% end %>

<% if @photos %>
  <div>
    <% @photos['media'].each do |photo| %>
      <div>

        <img src="<%= photo['src']['medium'] %>" alt=" <%= photo['alt'] %> ">
      </div>
    <% end %>

  </div>
<% end %>

<a href="https://www.pexels.com">Photos provided by Pexels</a>
